# Practice Optimizing DataFrames and Processing in Chunks

In this guided project, I practice working with chunked dataframes and optimizing a dataframe's memory usage. I will be working with financial lending data from [Lending Club](https://www.lendingclub.com/), a marketplace for personal loans that matches borrowers with investors.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

I'll be working with a dataset of loans approved from 2007-2011, which you can download from Lending Club's website. I've already removed the desc column to make the system run more quickly.

If I read in the entire data set, it will consume about 67 megabytes of memory. I'm going to imagine that I only have 10 megabytes of memory available throughout this project, so I can practice the concepts.

In [1]:
import pandas as pd
pd.options.display.max_columns = 99

In [2]:
# Reading the dataset and visually checking any quality issues
df = pd.read_csv('loans_2007.csv')
df.head()

/dataquest/system/env/python3/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [3]:
# Reading the first 1000 rows of the dataset and calculating the 
# total memory usage for these rows. I will increase and decrease 
# the number of rows to converge on a memory usage under 5 megabytes
# (to stay on the conservative side)

first_rows = df[:3000]

# Checking the memory usage
first_rows.memory_usage(deep=True).sum()/(2**20)

4.729122161865234

**Answer**
3000 rows seem to be a good load

Next, I will go over to try to understand the column types better while using dataframe chunks.

In [12]:
# Checking how many columns have a numeric type. How many have
# have a string type
chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000)

for chunk in chunk_df:
    numeric_columns = chunk.select_dtypes('number').columns
    string_columns = chunk.select_dtypes('object').columns
    number_numeric_columns = len(numeric_columns)
    number_string_columns = len(string_columns)
                               
    
print(number_numeric_columns, number_string_columns)

30 22

In [52]:
# Finding how many unique values are on each string column

string_values = {}
chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000)
for chunk in chunk_df:

    string_columns = chunk.select_dtypes('object').columns
    for col in string_columns:
        val_counts = chunk[col].value_counts()
        if col in string_values:
            string_values[col].append(val_counts)
        else:
            string_values[col] = [val_counts]

string_values

{'addr_state': [CA    563
  NY    282
  FL    238
  TX    198
  NJ    133
  GA    122
  IL    117
  PA    103
  VA    100
  OH     91
  WA     82
  MA     81
  NC     79
  MD     70
  AZ     64
  CT     61
  MO     58
  CO     51
  MN     47
  WI     44
  OR     39
  NV     36
  MI     33
  AL     29
  LA     26
  SC     25
  UT     24
  HI     21
  OK     20
  AR     19
  KY     19
  KS     18
  RI     16
  AK     14
  DC     13
  NH     12
  WV     12
  SD     11
  NM      8
  MT      8
  VT      6
  WY      5
  DE      2
  Name: addr_state, dtype: int64, CA    518
  NY    290
  TX    231
  FL    220
  NJ    128
  IL    116
  VA    107
  PA    105
  OH    103
  NC     88
  GA     83
  MA     71
  MD     69
  WA     66
  AZ     64
  MI     59
  CO     58
  CT     54
  MO     51
  MN     45
  WI     45
  NV     41
  AL     37
  SC     34
  KY     34
  LA     33
  KS     32
  OR     29
  UT     27
  OK     25
  AR     19
  HI     17
  RI     16
  NM     12
  DE     12
  WV     11
  DC     11
  NH      9
  MT      8
  AK      7
  WY      5
  VT      5
  SD      3
  TN      1
  MS      1
  Name: addr_state, dtype: int64, CA    549
  NY    291
  FL    219
  TX    211
  NJ    142
  IL    122
  PA    108
  NC     90
  GA     85
  OH     83
  AZ     81
  MA     80
  VA     78
  CT     72
  MD     67
  WA     64
  MO     56
  CO     54
  MN     44
  OR     41
  MI     41
  NV     40
  SC     40
  AL     34
  WI     31
  LA     29
  OK     27
  AR     27
  KY     26
  KS     26
  HI     21
  UT     19
  DC     18
  NH     17
  NM     16
  DE     10
  RI     10
  WV      8
  SD      7
  VT      5
  WY      4
  AK      4
  MT      3
  Name: addr_state, dtype: int64, CA    538
  NY    246
  FL    229
  TX    201
  NJ    139
  IL    130
  NC    107
  MA    106
  GA    102
  PA     94
  OH     94
  VA     85
  MD     82
  WA     64
  MO     57
  AZ     57
  CO     56
  MI     56
  CT     50
  SC     47
  LA     39
  WI     38
  MN     38
  NV     38
  OR     37
  KY     32
  KS     31
  AL     29
  OK     23
  AR     23
  DC     17
  RI     16
  WV     15
  NM     14
  UT     13
  HI     13
  NH     12
  SD      7
  WY      7
  DE      6
  MT      5
  VT      4
  AK      3
  Name: addr_state, dtype: int64, CA    473
  NY    293
  FL    232
  TX    188
  NJ    125
  VA    118
  IL    111
  GA    110
  OH    110
  PA    110
  MA    103
  NC     86
  MD     83
  CT     63
  AZ     62
  MO     57
  MI     53
  LA     52
  MN     50
  WA     44
  SC     44
  CO     43
  NV     40
  AL     35
  KY     35
  OK     29
  WI     28
  OR     26
  KS     25
  DC     22
  RI     21
  AR     20
  UT     17
  NM     16
  NH     13
  MT     12
  DE     11
  WV     11
  WY     10
  HI      7
  AK      6
  VT      4
  SD      2
  Name: addr_state, dtype: int64, CA    544
  NY    244
  FL    217
  TX    195
  NJ    152
  PA    128
  IL    122
  VA    115
  GA     96
  MD     89
  OH     89
  NC     87
  MA     85
  AZ     69
  WA     65
  CO     55
  MO     54
  MN     51
  MI     50
  NV     46
  CT     41
  LA     39
  AL     39
  SC     36
  OK     35
  OR     30
  KY     29
  WI     29
  KS     25
  AR     21
  NM     16
  HI     14
  NH     12
  RI     12
  WV     12
  UT     11
  DC     10
  AK      8
  WY      7
  MT      7
  DE      6
  SD      5
  VT      3
  Name: addr_state, dtype: int64, CA    541
  NY    305
  TX    211
  FL    193
  NJ    146
  IL    110
  MA    108
  PA    105
  GA    100
  NC     99
  OH     86
  VA     85
  AZ     73
  WA     70
  MD     66
  MI     62
  MN     57
  NV     57
  MO     57
  CO     53
  CT     49
  OR     35
  WI     32
  SC     30
  KS     28
  LA     28
  KY     27
  AL     27
  UT     21
  OK     20
  WV     18
  DC     15
  HI     12
  NH     11
  RI     11
  AR     10
  NM     10
  DE      8
  MT      7
  AK      6
  VT      5
  SD      3
  WY      3
  Name: addr_state, dtype: int64, CA    525
  NY    286
  TX    209
  FL    197
  NJ    130
  PA    117
  IL    109
  MA    107
  GA    105
  NC    101
  VA     98
  OH     98
  MD     82
  CO     73
  WA     69
  MI     63
  AZ     62
  CT     54
  MO     46
  NV     43
  MN     40
  OR     39
  AL     39
  KS     31
  LA     30
  AR     30
  SC     28
  WI     26
  KY     19
  UT     17
  WV     15
  OK     15
  HI     15
  NH     15
  RI     14
  DC     14
  NM     10
  AK      8
  DE      7
  SD      7
  MT      3
  VT      3
  WY      1
  Name: addr_state, dtype: int64, CA    539
  NY    351
  FL    213
  TX    186
  NJ    143
  PA    126
  VA    116
  IL    111
  GA    106
  MA     99
  MD     89
  OH     85
  AZ     75
  CT     67
  MO     61
  CO     58
  MI     55
  WA     51
  MN     44
  AL     40
  SC     40
  LA     36
  WI     34
  NV     30
  OR     27
  WV     23
  KY     23
  DC     21
  OK     20
  UT     20
  AR     16
  NM     15
  NH     14
  RI     13
  DE     10
  HI      9
  NC      9
  WY      6
  VT      5
  MT      5
  AK      4
  KS      3
  SD      2
  Name: addr_state, dtype: int64, CA    568
  NY    267
  TX    214
  FL    206
  NJ    163
  VA    130
  GA    127
  PA    126
  MA    115
  IL    105
  MD    100
  OH     86
  WA     60
  AZ     59
  CO     57
  MI     57
  CT     57
  MO     55
  MN     47
  OR     38
  WI     38
  LA     38
  SC     36
  AL     31
  NV     27
  NM     23
  KY     23
  UT     19
  RI     19
  OK     19
  AR     18
  WV     18
  DC     12
  DE      8
  NH      7
  HI      7
  AK      6
  WY      5
  SD      4
  MT      3
  IA      1
  VT      1
  Name: addr_state, dtype: int64, CA    544
  NY    316
  FL    223
  TX    218
  NJ    148
  PA    133
  MA    127
  VA    121
  IL    118
  GA    112
  OH     84
  MD     74
  CO     67
  CT     63
  MI     57
  WA     56
  AZ     54
  MN     49
  MO     48
  AL     39
  WI     39
  OR     33
  SC     32
  NV     24
  OK     22
  KY     21
  DC     19
  LA     18
  NH     18
  WY     16
  UT     15
  NM     14
  HI     13
  AR     12
  RI     12
  WV     10
  DE      9
  MT      8
  SD      5
  VT      5
  AK      4
  Name: addr_state, dtype: int64, CA    534
  NY    314
  FL    223
  TX    206
  NJ    134
  IL    132
  PA    129
  MA    111
  GA    110
  VA    106
  OH    101
  MD     79
  CT     72
  CO     70
  MI     66
  AZ     65
  WA     62
  NV     42
  MN     42
  OR     36
  AL     35
  SC     35
  MO     33
  WI     32
  LA     29
  UT     21
  OK     21
  NM     19
  RI     17
  KS     17
  DC     17
  WV     15
  KY     14
  AR     11
  NH     10
  HI     10
  DE      8
  WY      8
  MT      6
  SD      4
  AK      3
  VT      1
  Name: addr_state, dtype: int64, CA    570
  NY    236
  TX    217
  FL    207
  NJ    134
  PA    125
  GA    113
  VA    110
  MA    110
  IL    107
  OH     98
  AZ     81
  MD     76
  CO     73
  WA     64
  MI     61
  MN     54
  MO     41
  SC     37
  CT     36
  OR     34
  KS     33
  AL     31
  LA     29
  NV     29
  UT     28
  WI     27
  OK     23
  DC     22
  KY     22
  RI     20
  NH     19
  AR     17
  MS     17
  DE     14
  HI     14
  NM     11
  MT     10
  WV      9
  TN      9
  NC      9
  AK      7
  WY      5
  VT      5
  SD      3
  ID      2
  NE      1
  Name: addr_state, dtype: int64, CA    387
  NY    273
  TX    216
  FL    215
  IL    154
  PA    136
  NJ    136
  OH    115
  MA    107
  VA    105
  GA     94
  MD     82
  MI     77
  MO     71
  CO     69
  CT     66
  WA     64
  WI     64
  AZ     54
  NC     51
  MN     43
  KY     32
  LA     30
  AL     30
  NV     27
  DE     25
  KS     24
  OR     23
  SC     22
  UT     19
  NM     18
  OK     18
  TN     17
  AR     15
  NH     13
  DC     12
  RI     11
  IA     11
  WV     10
  IN      9
  MT      8
  HI      8
  ID      7
  NE      6
  MS      6
  AK      5
  WY      4
  VT      4
  ME      3
  SD      3
  Name: addr_state, dtype: int64, FL    72
  NY    71
  GA    38
  CA    36
  NJ    35
  MA    28
  NC    24
  CO    20
  MO    20
  MD    17
  TX    14
  AZ    13
  VA    13
  CT    11
  IN    10
  AL     9
  WI     9
  IL     8
  UT     7
  WA     7
  NV     7
  OH     6
  MI     6
  NH     6
  PA     6
  LA     5
  TN     5
  KS     5
  NE     4
  NM     3
  AR     3
  KY     3
  MT     3
  SC     3
  MS     2
  WY     1
  OR     1
  SD     1
  MN     1
  DC     1
  VT     1
  AK     1
  Name: addr_state, dtype: int64], 'application_type': [INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    3000
  Name: application_type, dtype: int64, INDIVIDUAL    2999
  Name: application_type, dtype: int64, INDIVIDUAL    536
  Name: application_type, dtype: int64], 'earliest_cr_line': [Oct-2000    37
  Apr-2000    36
  Nov-2000    33
  Jan-2000    32
  May-2000    31
  Nov-1998    29
  Feb-2000    28
  Nov-1999    26
  Dec-2001    26
  Dec-1998    26
  Sep-2000    26
  Aug-1999    25
  Sep-1998    25
  Oct-1999    25
  Oct-2003    24
  Aug-2000    24
  Jan-2001    23
  Feb-2005    22
  Jul-2000    22
  Jun-2002    22
  Nov-2003    22
  Jul-2006    21
  Oct-2002    21
  Mar-2001    20
  Jul-2001    20
  Dec-1999    20
  Dec-2000    20
  Oct-2005    20
  Sep-2006    19
  Mar-2006    19
              ..
  Mar-1978     1
  Dec-1972     1
  Oct-2008     1
  Apr-1984     1
  Feb-1991     1
  Feb-1982     1
  May-1978     1
  Sep-1977     1
  Sep-1962     1
  Jun-1973     1
  Aug-1979     1
  Oct-1982     1
  Sep-1976     1
  Oct-1981     1
  Feb-1980     1
  Mar-1984     1
  Dec-1976     1
  Sep-1964     1
  Apr-1986     1
  Aug-1982     1
  Apr-1982     1
  Jan-1983     1
  Jan-1982     1
  Mar-1970     1
  Apr-1973     1
  Jun-1986     1
  Jan-1981     1
  Sep-1983     1
  Nov-1970     1
  Jul-1980     1
  Name: earliest_cr_line, Length: 366, dtype: int64, Nov-1998    38
  Mar-2000    30
  Jul-2000    30
  Jan-2001    29
  Oct-2000    26
  Dec-1995    26
  Oct-1998    26
  Nov-1999    26
  Nov-1997    26
  Dec-1998    24
  Oct-2001    23
  Aug-1999    23
  Sep-2001    22
  Nov-2000    22
  Oct-1999    21
  Aug-2000    21
  Jan-1999    20
  Apr-1999    20
  Dec-1999    20
  Sep-1995    20
  Dec-1996    19
  Apr-1994    19
  Oct-2003    19
  Sep-2003    19
  Sep-2002    19
  May-2002    19
  Nov-2003    18
  Apr-1998    18
  Dec-2000    18
  May-1999    18
              ..
  Aug-1967     1
  Mar-1978     1
  Mar-1982     1
  Mar-1977     1
  Aug-1968     1
  Jun-1980     1
  Feb-1971     1
  Mar-1963     1
  Apr-1975     1
  Jul-1979     1
  Jun-1982     1
  Mar-1975     1
  Feb-1965     1
  Feb-1979     1
  May-1975     1
  Dec-1963     1
  Jun-1977     1
  Feb-1976     1
  Dec-1969     1
  Dec-1973     1
  Jan-1986     1
  Apr-1976     1
  Sep-1974     1
  Oct-1972     1
  Feb-1983     1
  Apr-1971     1
  Nov-1979     1
  Jan-1970     1
  Sep-1987     1
  Sep-1977     1
  Name: earliest_cr_line, Length: 399, dtype: int64, Jan-2000    32
  Apr-2000    32
  Aug-1998    31
  Oct-2003    28
  Nov-1998    26
  Aug-2000    25
  Oct-2000    25
  Aug-1999    25
  Feb-2001    24
  Nov-1997    24
  Oct-2001    24
  Dec-1999    24
  Nov-2000    23
  Nov-1999    23
  Nov-2001    23
  Sep-1999    23
  Oct-2002    23
  Dec-1997    23
  Jan-1997    22
  Nov-1996    22
  Sep-1998    21
  Oct-1999    21
  Dec-2000    21
  Mar-1999    21
  Jun-1999    21
  Jul-2000    21
  Jan-1999    21
  Jan-1996    20
  Oct-1998    20
  Jul-1999    20
              ..
  Mar-1977     1
  Oct-1978     1
  Sep-1968     1
  Mar-1980     1
  Jan-1974     1
  Feb-1972     1
  Aug-1975     1
  Jun-1980     1
  Nov-1970     1
  Nov-1982     1
  Jan-1981     1
  Jul-1979     1
  Jun-1982     1
  Jan-1986     1
  Sep-1980     1
  Apr-1966     1
  Oct-1963     1
  Mar-1976     1
  Oct-1981     1
  Sep-1982     1
  Oct-1982     1
  Dec-1975     1
  Aug-1982     1
  Sep-1962     1
  Oct-1988     1
  Sep-1976     1
  Jun-1969     1
  Sep-1973     1
  Nov-1981     1
  May-1975     1
  Name: earliest_cr_line, Length: 401, dtype: int64, Nov-1999    32
  Oct-1999    30
  Oct-2000    28
  Nov-1998    27
  Dec-1998    26
  Jan-2000    25
  Jan-2001    24
  May-1999    24
  Oct-1998    24
  Dec-1996    23
  Dec-1997    23
  Sep-2004    23
  Oct-2001    22
  Jan-1999    22
  Oct-1994    22
  Nov-1997    22
  Sep-1998    21
  Sep-1999    21
  Aug-1999    21
  Oct-1997    21
  Oct-2004    21
  Jun-1999    21
  Jul-1995    21
  Dec-2000    20
  Mar-1999    20
  Apr-2000    20
  May-2000    19
  Sep-2001    19
  Dec-1999    19
  Nov-2002    19
              ..
  Sep-1977     1
  May-1970     1
  Feb-1987     1
  Jul-1967     1
  Feb-1980     1
  Apr-1970     1
  Mar-1975     1
  Jan-1974     1
  Oct-1978     1
  Jul-1981     1
  Jun-1985     1
  Feb-1986     1
  Jan-1976     1
  Jul-1975     1
  Feb-1978     1
  Apr-1971     1
  Nov-1980     1
  Feb-1970     1
  Mar-1983     1
  Dec-1981     1
  Oct-1973     1
  May-1963     1
  Dec-1973     1
  Jul-1977     1
  Jun-1969     1
  Jan-1978     1
  Aug-1982     1
  Sep-1970     1
  May-1980     1
  Mar-1970     1
  Name: earliest_cr_line, Length: 383, dtype: int64, Feb-2001    32
  Jan-2000    32
  Nov-2000    31
  Dec-1999    31
  Sep-2000    28
  Dec-1998    28
  Nov-1998    28
  Jan-1997    27
  Dec-2000    27
  Oct-2000    26
  Oct-1999    26
  Oct-2002    25
  Oct-2001    24
  May-1999    23
  Sep-1998    23
  Dec-1997    23
  Apr-2000    23
  Oct-1998    22
  Sep-1999    22
  Mar-1999    22
  Nov-1994    22
  Aug-1999    22
  May-1998    21
  Nov-1996    21
  Nov-1999    21
  Jan-1999    20
  Nov-2003    20
  Dec-1996    20
  Aug-1998    20
  Jan-2001    20
              ..
  Nov-1966     1
  May-1965     1
  Mar-1974     1
  Aug-1976     1
  Jan-1963     1
  Feb-1968     1
  May-1978     1
  Nov-1969     1
  Mar-1982     1
  Aug-1969     1
  Aug-1978     1
  Dec-1976     1
  Apr-1964     1
  Mar-1984     1
  Oct-1981     1
  Feb-1983     1
  Apr-1981     1
  Feb-1979     1
  Jun-1959     1
  Mar-1968     1
  Jan-1982     1
  Jul-1980     1
  May-1974     1
  Aug-1983     1
  Jun-1966     1
  Apr-1975     1
  Aug-1974     1
  Nov-1970     1
  Feb-1986     1
  Mar-1970     1
  Name: earliest_cr_line, Length: 391, dtype: int64, Oct-1999    30
  Oct-2000    30
  Dec-1998    29
  May-2001    29
  Nov-1998    29
  Dec-1999    27
  Dec-1997    27
  Nov-1996    26
  Nov-1997    25
  Dec-1994    24
  May-2000    24
  Jan-1996    24
  Feb-2000    23
  Aug-1997    23
  Aug-2000    23
  Oct-2001    23
  Dec-2002    23
  Nov-1999    23
  Jun-2001    22
  Nov-2000    21
  Dec-2001    21
  Sep-1998    20
  Oct-2002    20
  Nov-1994    20
  Jul-2000    20
  May-1996    20
  Oct-1996    20
  Aug-2001    19
  Sep-2001    19
  Dec-1996    19
              ..
  Apr-1980     1
  Nov-1971     1
  Nov-1980     1
  Apr-1976     1
  Jan-1974     1
  Jul-1973     1
  Apr-1971     1
  Dec-1981     1
  Aug-1978     1
  Mar-1982     1
  Feb-1982     1
  Feb-1983     1
  May-1975     1
  Apr-1986     1
  Jun-1979     1
  Feb-1987     1
  Nov-1986     1
  Nov-1973     1
  May-1971     1
  Sep-1977     1
  Jun-1970     1
  Dec-1978     1
  Dec-1983     1
  May-1980     1
  Nov-1976     1
  Oct-1971     1
  Jan-1983     1
  Jun-1969     1
  Sep-1976     1
  Mar-1970     1
  Name: earliest_cr_line, Length: 383, dtype: int64, Sep-2000    34
  Nov-1998    33
  Oct-1996    31
  Aug-2000    30
  Oct-1999    29
  Oct-1998    29
  Nov-2003    28
  Dec-1996    28
  Dec-1997    26
  Nov-2000    25
  Dec-1998    24
  Oct-2000    23
  Feb-2000    23
  May-2000    23
  Sep-1997    23
  Dec-2000    23
  Dec-1995    22
  Oct-1997    22
  Nov-1999    21
  Nov-1997    21
  Aug-1997    20
  Jan-1994    20
  Jul-2000    20
  Jan-2000    20
  Jan-1999    19
  Mar-1999    19
  Apr-1997    19
  Jan-2001    19
  Nov-1995    19
  Nov-1996    19
              ..
  Jan-1970     1
  Mar-1981     1
  Apr-1981     1
  Apr-1971     1
  May-1983     1
  Apr-1975     1
  Nov-1969     1
  Dec-1973     1
  Sep-1982     1
  Sep-1976     1
  Feb-1986     1
  Oct-1981     1
  Jul-1978     1
  Mar-1984     1
  Oct-1978     1
  May-1987     1
  Dec-1979     1
  Mar-1979     1
  Aug-1982     1
  Nov-1983     1
  Apr-1982     1
  Jan-1983     1
  May-1974     1
  Feb-1977     1
  Aug-1981     1
  Dec-1976     1
  Oct-1972     1
  Jun-1971     1
  Apr-1974     1
  Nov-1981     1
  Name: earliest_cr_line, Length: 385, dtype: int64, Dec-1997    34
  Nov-2000    30
  Nov-1996    29
  Dec-1998    28
  Nov-1998    28
  May-2000    26
  Oct-2000    26
  Nov-1997    26
  Jul-2000    26
  Oct-1998    26
  Dec-1995    25
  Feb-2000    24
  Dec-2000    24
  Dec-1994    24
  Dec-1999    24
  Oct-1999    23
  Jan-1999    23
  Sep-2000    23
  Nov-1995    22
  Sep-2001    22
  Jan-2000    22
  Aug-2000    22
  Jan-1995    22
  Oct-2004    22
  May-1997    22
  Dec-1996    21
  Nov-1999    21
  May-1999    19
  Oct-1997    19
  Aug-1999    19
              ..
  Nov-1975     1
  Mar-1979     1
  Sep-1969     1
  May-1983     1
  Apr-1975     1
  Sep-1976     1
  Jan-1973     1
  May-1980     1
  Feb-2006     1
  Mar-1973     1
  Jan-1971     1
  Sep-1983     1
  Jun-1976     1
  Jul-1975     1
  Jul-1976     1
  Jan-1981     1
  Nov-1992     1
  Sep-1979     1
  Apr-1974     1
  Jul-1983     1
  Dec-1982     1
  Jun-1981     1
  Dec-1968     1
  Jan-1984     1
  Dec-1976     1
  Aug-1981     1
  Feb-1978     1
  Feb-1977     1
  Apr-1987     1
  Mar-2006     1
  Name: earliest_cr_line, Length: 387, dtype: int64, Oct-1999    29
  Nov-1999    29
  Nov-2000    28
  Nov-1997    28
  Dec-1998    27
  Aug-1998    27
  Oct-2000    27
  Nov-1998    26
  Oct-2004    26
  Oct-1998    24
  Sep-2000    23
  Oct-2001    23
  Feb-1994    22
  Oct-2002    22
  Jan-1997    21
  Dec-2001    21
  Dec-1997    21
  Jun-1998    21
  Dec-1993    21
  Aug-1995    20
  Jan-2001    20
  Jul-1999    20
  May-2000    20
  Jul-2000    20
  Jan-1996    20
  Oct-2003    20
  Jun-2001    20
  Dec-1995    19
  Sep-2002    19
  Dec-1996    19
              ..
  Apr-1969     1
  Jan-1978     1
  Jun-1976     1
  Aug-1979     1
  Mar-1984     1
  Jun-1978     1
  Dec-1981     1
  Sep-1982     1
  Feb-1983     1
  Jan-1986     1
  Sep-1970     1
  Sep-1962     1
  Jun-1984     1
  Nov-1978     1
  Mar-1975     1
  May-1974     1
  Oct-1971     1
  Sep-1964     1
  May-1983     1
  Jun-1985     1
  Jan-1983     1
  Apr-1982     1
  May-1978     1
  Feb-1970     1
  Oct-1979     1
  May-1976     1
  Oct-1976     1
  Mar-1979     1
  May-1975     1
  Aug-1976     1
  Name: earliest_cr_line, Length: 374, dtype: int64, Dec-1997    35
  Dec-1995    33
  Nov-2000    28
  Apr-1998    28
  Oct-2000    26
  Oct-1997    26
  Dec-1998    26
  Nov-1999    25
  Nov-1998    24
  Mar-1994    24
  Sep-2002    24
  Aug-1999    24
  Oct-1995    23
  Oct-1999    23
  Dec-1996    23
  Dec-1999    22
  Sep-2000    21
  Mar-1999    21
  Nov-1997    21
  Jul-2000    20
  Oct-2004    20
  Jan-1999    20
  Jan-1997    19
  Nov-2002    19
  Jan-2001    19
  Nov-2001    19
  Sep-1998    19
  Oct-1998    19
  Sep-2004    19
  Jun-2004    19
              ..
  Mar-1979     1
  Apr-1975     1
  May-1984     1
  Apr-1976     1
  Feb-1976     1
  Aug-1981     1
  Nov-1980     1
  Aug-1969     1
  Mar-1982     1
  Jun-1981     1
  Jan-1979     1
  Dec-1974     1
  Jul-1982     1
  Apr-1980     1
  Aug-1983     1
  Aug-1970     1
  Jul-1975     1
  Jun-1977     1
  Nov-1978     1
  Feb-1975     1
  Jun-1970     1
  Oct-1980     1
  Apr-1981     1
  Apr-1982     1
  Nov-1977     1
  Jul-1977     1
  Mar-1970     1

In [87]:
# How many contain values that are less than 50% uniques
unique_per_column = {}
col_small_uniques = []
for col in string_values.keys():
    u_concat = pd.concat(string_values[col])
    u_grouped = u_concat.groupby(u_concat.index).sum()
    unique_per_column[col] = len(u_grouped.index)
    if u_grouped.shape[0] < 50:
        col_small_uniques.append(col)
        print(col, u_grouped.shape[0])

application_type 1
home_ownership 5
sub_grade 35
term 2
purpose 14
pymnt_plan 2
grade 7
loan_status 9
initial_list_status 1
verification_status 3
emp_length 11

In [57]:
# Which float columns have no missing values and could be 
# candidates for conversion to the integer type?
chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000)
missing_values = {}
for chunk in chunk_df:
    float_values = chunk.select_dtypes('float').columns
    for col in float_values:
        if col in missing_values:
            missing_values[col] += chunk[col].isnull().sum()
        else:
            missing_values[col] = chunk[col].isnull().sum()

In [58]:
missing_values

{'acc_now_delinq': 32,
 'annual_inc': 7,
 'chargeoff_within_12_mths': 148,
 'collection_recovery_fee': 3,
 'collections_12_mths_ex_med': 148,
 'delinq_2yrs': 32,
 'delinq_amnt': 32,
 'dti': 3,
 'funded_amnt': 3,
 'funded_amnt_inv': 3,
 'inq_last_6mths': 32,
 'installment': 3,
 'last_pymnt_amnt': 3,
 'loan_amnt': 3,
 'member_id': 3,
 'open_acc': 32,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'policy_code': 3,
 'pub_rec': 32,
 'pub_rec_bankruptcies': 1368,
 'recoveries': 3,
 'revol_bal': 3,
 'tax_liens': 108,
 'total_acc': 32,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'total_rec_prncp': 3}

### Total memory across the chunks

In [62]:
# Total memory usage accross the chunks
chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000)
memory = []
for chunk in chunk_df:
    memory.append(chunk.memory_usage(deep=True).sum()/(2**20))
print(sum(memory))

66.2153730392456

In [70]:
chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000)
chunk_df

In [84]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [89]:
cat_types = {'aplication_type':'category', 'home_ownership':'category',
            'sub_grade':'category', 'purpose':'category', 'grade':'category',
            }

In [88]:
col_small_uniques

['application_type',
 'home_ownership',
 'sub_grade',
 'term',
 'purpose',
 'pymnt_plan',
 'grade',
 'loan_status',
 'initial_list_status',
 'verification_status',
 'emp_length']

In [91]:
# Determine which string columns you can convert to a numeric type
# if you clean them. For example, the int_rate column is only a 
# string because of the % sign at the end.
memory_2 = []

chunk_df = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=cat_types, 
                       parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])
for chunk in chunk_df:
    chunk['int_rate'] = pd.to_numeric(chunk['int_rate'].str.rstrip("%").str.lstrip(" "))
    chunk['revol_util'] = pd.to_numeric(chunk['revol_util'].str.rstrip("%"))
    
    
    memory_2.append(chunk.memory_usage(deep=True).sum()/(2**20))
    
    
print(sum(memory_2))

42.290218353271484

In [77]:
col_small_uniques

['application_type',
 'home_ownership',
 'sub_grade',
 'term',
 'purpose',
 'pymnt_plan',
 'grade',
 'loan_status',
 'initial_list_status',
 'verification_status',
 'emp_length']

## Next steps for improving project

Create a function that automates as much of the work you just did as possible, so that you could use it on other Lending Club data sets. This function should:

Determine the optimal chunk size based on the memory constraints you provide

Determine which string columns can be converted to numeric ones by removing the % character

Determine which numeric columns can be converted to more space efficient representations